* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

/* BANNER */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/banner-pokemon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 4rem;
    
}

header .container-banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(149, 10, 10, 0.563);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_main-title {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    text-wrap: balance;
}

.btn-seeMore {
    color: #ffffff;
    padding: .8rem 2rem;
    margin: 10px;
    background-color: rgb(215, 183, 5);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato';
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.btn-seeMore:hover {
    background-color: rgb(198, 169, 6);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.container-main {
    display: flex;
    flex-direction: column;
}

.container-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.list-details {
    background-color: #f2f2f2;
    margin: auto;
    /* margin: 2rem 0; */
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid goldenrod;
    border-radius: 10px;
    box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    -webkit-box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s all ease-in-out;
}

.list-details:hover {
    background-color: #e3e3e3;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.list-details .list-item {
    text-align: center;
}

.btn-card {
    margin-top: 2.4rem;
    padding: 6px 20px;
    color: #ffffff;
    background-color: rgb(161, 0, 0);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s all ease-in-out;
}

.btn-card:hover {
    background-color: rgb(120, 4, 4);
    transition: .2s all ease-in-out;
    cursor: pointer;
}

/* ESTILOS DOCUMENTO DETALLES */
.header-details {
    background-color: #950a0a;
    margin-bottom: 2.5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-container {
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.btn-back {
    width: auto;
    color: #ffffff;
    padding: .8rem 1.2rem;
    background-color: rgb(215, 183, 5);
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s all ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back i {
    font-size: 1.8rem;
}

.btn-back:hover {
    background-color: rgb(198, 169, 6);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.header-details h1 {
    color: #ffffff;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

main .container-main-details {
    display: flex;
    flex-direction: column;
}

main .container-list-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-details-extended {
    background-color: #f2f2f2;
    margin: auto;
    /* margin: 2rem 0; */
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid goldenrod;
    border-radius: 10px;
    box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    -webkit-box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 12px 12px 31px 0px rgba(0,0,0,0.53);
    max-width: 500px;
    min-width: 500px;
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s all ease-in-out;
}

.number-details, .ratio-details, .text-list {
    text-align: center;
    margin-bottom: 5px;
}

.list-details-extended > .container-list-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.2rem;
}

.list-details-extended .pokemon-name-details {
    font-size: 1.4rem;
    text-align: center;
}

.list-details-extended .container-list-details .abilities {
    margin-bottom: 1rem;
}

.list-details-extended .container-list-details .abilities li ,
.list-details-extended .container-list-details .stats li {
    margin-left: 1rem;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

/* MEDIAQUERIES */
@media screen and (max-width: 1320px) {
    .container-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .container-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .container-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ESTILOS DETAILS.HTML */
@media screen and (max-width: 550px) {
    main .container-list-details {
        margin: 10px;
    }

    .list-details-extended {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .banner_main-title {
        font-family: 'Lato';
        font-weight: 900;
        font-size: 2rem;
        color: #ffffff;
        text-wrap: balance;
    }
}

/* ESTILOS DETAILS.HTML */
@media screen and (max-width: 550px) {
    main .list-details-extended > .container-list-details {
        justify-content: center;
        align-items: center;
    }

    .list-details-extended .container-list-details .abilities ,
    .list-details-extended .container-list-details .stats {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .list-details-extended .container-list-details .abilities li,
    .list-details-extended .container-list-details .stats li {
        margin-left: 0;
    }
}